.header {
    background-color: aqua;
    height: 20px;
    margin: 0%;
}

.coucou {
    color: blue;
    text-align: center;
    margin: 0%;
    font-size: 20px;
}

.menu_toit {
    background-color: brown;
    position: relative;
    left: 0px;
    top: -700px;
    height: 200px;
    width: 100px;
    margin: 0%;
}

.toit {
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 20px;
    margin: 0%;
}
.menu_mur {
    background-color: red;
    position: relative;
    left: 0px;
    top: -700px;
    height: 500px;
    width: 100px;
    margin: 0%;
}

.mur {
    color: white;
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 20px;
    margin: 0%;
}

.contenu {
    background-color: green;
    position: relative;
    height: 700px;
    margin: 0%;

}

.arbre {
    color: white;
    text-align: center;
    margin: 0%;
    position: relative;
    top: 300px;
}

.parbre {
    color: white;
    text-align: center;
    margin: 0%;
    position: relative;
    top: 330px;
}

.vol1 {
    color: white;
    text-align: center;
    margin: 0%;
    position: relative;
    top: 370px;
}

.vol2 {
    color: white;
    text-align: center;
    margin: 0%;
    position: relative;
    top: 380px;
}

.news_cabane {
    background-color: yellow;
    position: relative;
    top: -1400px;
    height: 200px;
    width: 200px;
    float: right;
    margin: 0%;
}

.cabane {
    color: black;
    text-align: center;
    position: relative;
    font-size: 20px;
    top: 100px;
    margin: 0%;
}

.footer {
    background-color: grey;
    height: 20px;
    margin: 0%;
    position: relative;
    top: -700px;
}

.sol {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 20px;
}